body {
    padding: 10px 5px;
}

* {
   box-sizing: border-box; 
}

.main-container {
    display: block;
    min-width: 820px;
    max-width: 1600px;
    margin: 0 auto; 
    padding: 10px;
    background-color: #eeeeee;
    border: 2px solid #555555;
}

.form-container {
    display: block;
    width: 100%;
    padding: 2px;
}

.fields-info {
    padding: 3px;
    border: 2px solid #555555;
}

.field-name,
.field-type,
.field-new-name,
.field-new-type {
    display: inline-block;
    width: 200px;
    padding: 2px;
}

.db-view {
    display: block;
    width: 100%;
    margin: 5px auto; 
    padding: 5px;
    border: 2px solid #888888;
}

h1, h2, h3 {
    margin: 5px auto;
    padding: 5px;
    text-decoration: none;
    color: #445588;
 }

h1 {
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    margin: 3px 5px 3px auto;
    font-size: 18px;
    text-align: left;
}

.table {
    display: table;
    width: 100%;
    margin: 5px auto;
    padding: 2px;
}

td {
    display: table-cell;
    width: auto;
    min-width: 100px;
    min-height: 2em;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #dddddd;
}

.header-row {
    text-align: center;
    font-weight: 700;
    background-color: #cccccc;
}

.table-row:nth-child(2n+1) {
    background-color: #ffffff;
}

.table-row:nth-child(2n+2) {
    background-color: #eeeeee;
}
